<div role="dialog" tabindex="-1" aria-modal="true" class="d-block  show">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <span type="button" class="close" data-dismiss="modal" (click)="activeModal.close('dismiss')">
                <i class="fas fa-times text-danger"></i>
            </span>
        </div>
        <div class="modal-body">
            <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="activeModal.close(false)">Close</button>
            <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal"
                    (click)="activeModal.close(true)">Ok</button>
        </div>
    </div>
</div>