<div class="container p-0">
    <div class="col-12  text-left mt-1 p-0">
        <h3>Clients</h3>
    </div>
    
    <div class="row d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-primary" routerLink="create">
            <i class="fas fa-plus-circle"></i>
            Add client
        </button>
        <button type="button" class="btn btn-primary mx-1">
            <i class="fas fa-plus-circle"></i>
            Add referrer
        </button>
    </div>
</div>
