<div class="container container-fluid mt-5">
    <div class="row">
        <div class="col">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content" *ngIf="clientInfo.contactList">
                        <div class="row">
                            <div class="col mw-100">
                                <div class="">
                                    <!-- <a href="#" class="btn float-right btn-orange btn-xs">Edit</a> -->
                                    <div class="row d-flex flex-column justify-content-center mt-2 float-right lign-content-end justify-content-end">
                                        <button type="button" class="btn btn-primary mx-1 align-self-d flex-shrink-1 mb-2" (click)="onEditClient()">
                                            <i class="fas fa-pencil-alt"></i>
                                            Edit
                                        </button>
                                        <div class="align-self-baseline">
                                            <ng-container *ngIf="clientInfo.status">
                                                <button type="button" class="btn btn-danger mx-1" (click)="onDeactivateClient()">
                                                    <i class="fas fa-ban"></i>
                                                    Deactivate</button>
                                            </ng-container>
                                            <ng-container *ngIf="!clientInfo.status">
                                                <button type="button" class="btn btn-success mx-1" style="width: 120px;" (click)="onReactivateClient()">
                                                    <i class="fas fa-check-circle"></i>
                                                    Activate</button>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <h4>Client</h4>
                                    <h1>{{ clientInfo.name }}</h1>
                                </div>
                                <dl class="dl-horizontal">
                                    <ng-container *ngIf="clientInfo.status">
                                            <dt>Status:</dt> <dd><span class="badge badge-success">Active</span></dd>
                                    </ng-container>
                                    <ng-container *ngIf="!clientInfo.status">
                                        <dt>Status:</dt> <dd><span class="badge badge-danger">Inactive</span></dd>
                                    </ng-container>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>Address:</dt> <dd>{{ clientInfo.address}}</dd>
                                    <dt>Currency:</dt> <dd>{{ clientInfo.currency.alpha3Code }} - {{ clientInfo.currency.name }}</dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                <dl class="dl-horizontal">
                                    <dt>Active Projects:</dt> <dd>4</dd>
                                    <dt>Contacts:</dt> <dd>{{ clientInfo.contactList.length }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <h3>Projects</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mw-100">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="col-lg-12">
                            <div class="m-b-md mt-1">
                                <div class="row d-flex flex-column mb-3 me-3 float-right justify-content-end">
                                    <button type="button" class="btn btn-primary mx-1 my-auto flex-shrink-1 mb-2" (click)="onAddContact(item)">
                                        <i class="fas fa-plus-circle"></i>
                                        Add Contact
                                    </button>
                                </div>
                                <h4 class="mt-2">Contacts</h4>
                                <ng-container class="mt-1" *ngIf="clientInfo.contactList != null && clientInfo.contactList.length > 0">
                                    <app-grid
                                        [gridConfiguration]="configurationInfo"
                                        [paginatedList]="paginatedList"
                                        [actionList]="actionList"
                                        [allowsActions]="true">
                                    </app-grid>
                                </ng-container>
                                <ng-container *ngIf="clientInfo.contactList != null && clientInfo.contactList.length == 0">
                                    <div class="text-center mt-5">
                                        <p><i class="fas fa-snowboarding"></i> No contacts seem to have arrived around here yet.</p>
                                        <p>Why don't you go along and invite somebody <i class="fas fa-hiking"></i></p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
