<div class="row">
    <div class="col-sm-3">
        <ng-container>
            <label for="name">{{ selectInfo.label }}</label>
        </ng-container>
    </div>
    <div class="col-sm-9 col-xl-6">
        <div class="row pl-3">
                <input type="text" class="form-control w-50" id="name" [(ngModel)]="nameForFind" autocomplete="off" (keyup)="findNameClient()" [disabled]="isSelectOption">
                <div class="cancel">
                    <div *ngIf="isSelectOption">
                        <span  class="text-danger" (click)="cancelSelection()"><i class="fas fa-times"></i></span>
                    </div>
                </div>
                <span  class="text-success" *ngIf="isNewClient && isSelectOption">{{ selectInfo.createClientSuccess }}</span>
                <button *ngIf="!isSelectOption" type="button" class="btn btn-primary ml-2"(click)="createClient()" [disabled]="nameAlreadyExist || nameForFind.length < 3">{{ selectInfo.buttonCreate }}</button>
                <span  class="text-danger" *ngIf="isNotElement && !isSelectOption" [innerHTML]="selectInfo.notElementMessage"></span>

            <div *ngIf="!isSelectOption">
                <!-- listado de clientes -->
                <div class="selecetItem">
                    <select name="client" id="client" class="form-control mt-2"*ngIf="_items && _items.length > 0" (change)="selectedClient($event.target.value)">}
                        <option value="" selected hidden>Select a client...</option>
                        <option value="{{item.id}}" *ngFor="let item of _items">
                            {{ item.name }}
                        </option>
                    </select> 
                </div>
            <div>
        </div>
    </div>
</div>

    