<div class="container">
    <div class="col-12 mt-2 p-0" *ngIf="!contactEdit">
        <h3>New Contact</h3>
        <p>No email is sent when adding a contact.</p>
        <hr>
    </div>
    <div class="col-12 mt-2 p-0" *ngIf="contactEdit">
        <h3>Edit Contact</h3>
        <hr>
        <p>No email is sent when adding a contact.</p>
    </div>

    <div class="col-12 mx-2 mt-1">
        <form [formGroup]="contactForm">
            <!-- Testing -->
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <!-- <app-select-component [items]="clients" [selectInfo]="selectInfo" [itemSelected]="slectedItem.asObservable()" (newEntity)="createNewClient($event)" (selected)="processClientId($event)" [displayProperty]="'name'" [idProperty]="'id'"></app-select-component> -->
                        <app-select-component [items]="clients" [selectInfo]="selectInfo" [itemSelected]="selectedItem.asObservable()" (newEntity)="createNewClient($event)" (selected)="processClientId($event)" [displayProperty]="'name'" [idProperty]="'id'"></app-select-component>
                    </div>  

                    <div class="col-sm-9 col-xl-6 text-danger text-center ml-2">
                        <span *ngIf="isNotSelectedClient">The client is required.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="title">Title</label>
                    </div>
                    <div class="col-sm-9 col-xl-6">
                        <input type="text" id="title" class="form-control" formControlName="title" />
                        <span class="text-danger"*ngIf="contactForm.controls.title.dirty && contactForm.controls.title.invalid">This field must have a minimum of 4 characters.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="address">Name <span class="asterisk-required">*</span></label>
                    </div>
                    <div class="col-sm-9 col-xl-6">
                        <input type="text" id="name" class="form-control" formControlName="name" />
                        <span class="text-danger"*ngIf="contactForm.controls.name.touched && contactForm.controls.name.invalid">This field must have a minimum of 3 characters.</span>
                        <span class="text-danger"*ngIf="nameExists">Contact already exist.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="address">Email </label>
                    </div>
                    <div class="col-sm-9 col-xl-6">
                        <input type="email" id="email" class="form-control" formControlName="email" />
                        <span class="text-danger"*ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid">Enter a valid email.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="address">Phone</label>
                    </div>
                    <div class="col-sm-9 col-xl-6">
                        <input type="text" id="phone" class="form-control" formControlName="phone" />
                    </div>
                </div>
            </div>
        </form>

        <div class="col-12 mb-2 d-flex justify-content-end p-0">
            <button type="submit" class="btn btn-secondary mx-2" (click)="onCancelClick()" >Cancel</button>
            <button type="submit" class="btn btn-primary"  [disabled]="!isFormValid" (click)="saveContact()" >Save Contact</button>
        </div>
    </div>
</div>
