<div class="mt-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let info of configurationInfo">
                    <span *ngIf="!info.allowSorting; else sortColumn">
                        {{info.label}}
                    </span>
                    <ng-template #sortColumn>
                        <button (click)="sortByColumn(info)">{{info.label}}</button>
                    </ng-template>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="_paginatedList && _paginatedList.items">
            <tr *ngFor="let item of _paginatedList.items" (click)="onItemClick(item)" class="table-row">
                <td *ngFor="let info of configurationInfo">
                    {{item[info.property]}}
                </td>
                <ng-container *ngIf="allowsActions">
                    <app-action-list [actions]="actionList" [item]="item"></app-action-list>
                </ng-container>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example" *ngIf="_paginatedList">
        <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'disabled':!_paginatedList.hasPreviousPage}">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            <li class="page-item" *ngFor="let page of _totalPages">
                <a class="page-link" href="#">{{page}}</a>
            </li>

            <li class="page-item" [ngClass]="{'disabled':!_paginatedList.hasNextPage}">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
      </nav>
</div>
