<div class="container">
    <div class="col-12 mt-2 p-0" *ngIf="!clientEdit">
        <h3>New Client</h3>
        <p>Once you’ve added a client, you can add projects and contacts.</p>
        <hr>
    </div>
    <div class="col-12 mt-2 p-0" *ngIf="clientEdit">
        <h3>Edit Client</h3>
        <hr>
    </div>

    <div class="col-12 mx-2 mt-1">
        <form [formGroup]="clientForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <label for="name">Name <span class="asterisk-required">*</span></label>
                    </div>
                    <div class="col-12 col-sm-9 col-xl-6">
                        <input type="text" id="name" class="form-control" autocomplete="off" formControlName="name" required />
                        <span class="text-danger" *ngIf="userExist || clientForm.controls.name.touched && clientForm.controls.name.invalid">Client with name is already exist.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <label for="address">Address</label>
                    </div>
                    <div class="col-12 col-sm-9 col-xl-6">
                        <input type="text" id="address" class="form-control" formControlName="address" />
                        <span class="text-danger" *ngIf="clientForm.controls.address.touched && clientForm.controls.address.invalid">This field must have a minimum of 4 characters.</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-3">
                    <label for="currency">Preferred Currency</label>
                </div>
                <div class="col-12 col-sm-9 col-xl-6">
                    <select name="currency" id="currency" class="form-control" formControlName="currency">
                        <option *ngFor="let currency of currencies" value="{{ currency.id }}"> {{ currency.name }} - {{ currency.alpha3Code }} </option>
                    </select>
                </div>
            </div>
        </form>
        
        <div *ngIf="!clientEdit" class="mt-2">
            <button type="button" class="btn btn-primary mt-2"  *ngIf="!createContact" (click)="onCreateContact() "> 
                <i class="fas fa-plus-circle"></i>
                Add Contact
            </button>
            <button type="button" class="btn btn-danger mt-2" *ngIf="createContact" (click)="onCreateContact()"> 
                <i class="fas fa-minus-circle"></i>
                Cancel
            </button>
        </div>

        <div class="col-12 mt-5 p-1" *ngIf="createContact">
            <h5>New Contact</h5>
            <p>No email is sent when adding a contact.</p>
            <hr>
        </div>
        
        <div class="col-12 mt-2 p-1">
            <form [formGroup]="contactForm" *ngIf="createContact">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <label for="title">Title</label>
                        </div>
                        <div class="col-12 col-sm-9 col-xl-6">
                            <input type="text" id="title" class="form-control" formControlName="title" />
                            <span class="text-danger"*ngIf="contactForm.controls.title.touched && contactForm.controls.title.invalid">This field must have a minimum of 4 characters.</span>

                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <label for="address">Name <span class="asterisk-required">*</span></label>
                        </div>
                        <div class="col-12 col-sm-9 col-xl-6">
                            <input type="text" id="name" class="form-control" formControlName="name" />
                            <span class="text-danger"*ngIf="contactForm.controls.name.touched && contactForm.controls.name.invalid">This field must have a minimum of 4 characters.</span>
                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <label for="address">Email </label>
                        </div>
                        <div class="col-12 col-sm-9 col-xl-6">
                            <input type="email" id="email" class="form-control" formControlName="email" />
                            <span class="text-danger"*ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid">Enter a valid email.</span>
                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <label for="address">Phone</label>
                        </div>
                        <div class="col-12 col-sm-9 col-xl-6">
                            <input type="text" id="phone" class="form-control" formControlName="phone" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-12 mb-2 d-flex justify-content-end p-0">
            <button type="submit" class="btn btn-secondary mx-2" routerLink="/manage/clients" >Cancel</button>
            <button type="submit" class="btn btn-primary"  [disabled]="!areFormsValid" (click)="saveClient()" >Save Client</button>
        </div>
    </div>
</div>